
p,h5{
    font-family: 'Jost', sans-serif;

}
.career {
    height: auto;
    margin-top: 4rem;
   
}

.post-card {
    height: auto;
    cursor: pointer;
    transition-duration: 1s;
    box-shadow: 7px 3px 21px -11px rgba(0,0,0,0.69);
    -webkit-box-shadow: 7px 3px 21px -11px rgba(0,0,0,0.69);
    -moz-box-shadow: 7px 3px 21px -11px rgba(0,0,0,0.69);
    border-radius: 10px;
    margin-bottom: 10px;

}

.post-card-open{
    height: auto;
    cursor: pointer;
    -webkit-box-shadow: 12px 8px 12px -5px rgba(0,0,0,0.38); 
    box-shadow: 12px 8px 12px -5px rgba(0,0,0,0.38);
    border-left: 5px solid rgb(33,150,243);
    margin-bottom: 15px;
    border-radius: 10px;
  
}
.post-card-open .collapse-2{
    color: rgb(33,150,243);
}


.post-card:hover{
    border-left: 5px solid rgb(33,150,243);
    cursor: pointer;
    transition-duration: 1s ;
    color:rgb(33,150,243)

    

}

.collapse-option{
    display: flex;
    justify-content: space-between;
    height: 66px;
    padding: 15px;
}
.collapse-2{
    display: flex;
}

.collapse-2:hover .active{
    color:rgb(33,150,243)
}
.collapse-2 h5{
    padding: 0.9rem;
}

.desctiption{
    height: auto;
    padding-left: 4.5rem;
    padding-right: 15px;
    padding-bottom: 15px;
    
   
}

.pag-detail{
    -webkit-box-shadow: 12px 8px 12px -5px rgba(0,0,0,0.38); 
    box-shadow: 12px 8px 12px -5px rgba(0,0,0,0.38);
   


}

.service-title h2{
  
    text-align: center;
    font-family: "Jost", sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}
.career-title {
    margin-bottom: 4rem;
}

.img img {

    object-fit: cover ;
    width: 90%;
}
.img{
    text-align: center;
}

@media (max-width:1000px) {
    .comité-content{
        margin-top: 2rem;
    }
    
    
  }


  @media (max-width:1200px) {
    .career {
        height: auto;
        margin-bottom: 30px;
        margin-top: 20px;
    
    }
   
    
}

@media (max-width:1024px) {
    .career {
        height: auto;
        margin-bottom: 30px;
        margin-top: 20px;
    
    }
    
}