
:root {
    --light-color: #f3f3f3;
    --dark-color: #333;
    --max-width: 1100px;
  }
  
  .category {
    --forum-color: #f99500;
    --social-color: #a66bbe;
    --para-color: #009cff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: var(--light-color);
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  p {
    margin: .5rem 0;
  }
  
  .img-about {
    width: 100%;
  }
  
  
  /* Utility */
  .container1 {
    max-width: 1400;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
  }
  
  .category {
    display: inline-block;
    color: #fff;
    font-size: 0.55rem;
    text-transform: uppercase;
    padding: 0.4rem 0.6rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
  }
  
  .category-forum { background: var(--forum-color) }
  .category-social { background: var(--social-color) }
  .category-para { background: var(--para-color) }
  

  
  .card2 {
    background: #fff;
    padding: 1rem;
  }
  
  .bg-dark {
    color: #fff;
  }
  
  .bg-primary {
    color: #fff;
  }
  
  .bg-secondary {
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .bg-secondary h3 {
    font-family: "Jost", sans-serif;

  }
  
 
  
  
  .l-heading {
    font-size: 3rem;
  }
  
  .list li {
    padding: .5rem 0;
    border-bottom: #555 dotted 1px;
    width: 90%;
  }
 
  /* Inner page grid container */
  .page-container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin: 2rem 0;
    grid-gap: 1.5rem;
  }
  
  .page-container > *:first-child {
    grid-row: 1 / span 3;
  }


  
  
  /* Home Articles */
  #home-articles .articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  
  #home-articles .articles-container > *:first-child,
   #home-articles .articles-container > *:last-child { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
    grid-column: 1 / span 2;
  }
  
  #home-articles .articles-container > *:last-child {
    grid-column: 2 / span 2;
  }
  
  #article .meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
  }
  
  #article .meta .category {
    margin-top: 0.4rem;
  }

  .page-container p{
    line-height: 1.75rem;
  }
  
  /* Footer */
  #main-footer {
    background: var(--dark-color);
    color: #fff;
  }
  
  #main-footer img {
    width: 150px;
  }
  
  #main-footer a {
    color: #fff;
  }
  
  #main-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
  }
  
  #main-footer .footer-container > *:last-child {
    background: #444;
    grid-column: 1 / span 4;
    padding: .5rem;
    text-align: center;
    font-size: 0.75rem;
  }
  
  #main-footer .footer-container input[type='email'] {
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  #main-footer .footer-container input[type='submit'] {
    width: 90%;
  }
  .text-center {
    text-align:center;
  }

  .card2 .img1{
    height: 190px;
  }

  .carousel-evnt{
    height: 80vh;
  }

  .carousel-evnt img {
    height: 80vh;
  }
  .carousel-evnt img {
    height: 80vh;
    object-fit: cover;
  }

  .card2:hover{
    cursor: pointer;
  }

  .test0 img {
    object-fit: cover;
  }
.test1 img{
  object-fit:fill;
}
  

@media screen and (max-width: 768px) {
  #categories {
    display: none;
  }
  #what .items {
    display: block;
    padding: 1rem;
  }
  
  /* Align icon to left */
  #what .items .item {
    display: flex;
    text-align: left;
  }
  
  /* Position icon */
  #what .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
  }

  #navbar .main-nav{
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1;
    grid-gap: 1.2rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #navbar .logo {
    justify-self: center;
  }

  #navbar ul {
    
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #navbar ul li a {
    padding: 0.50rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  
  /* Smartphones */
  
  @media(max-width: 500px) {
    #navbar {
      flex-direction: column;
      align-items: center;
    }
  
    #navbar .logo {
      margin-bottom: 0.5rem;
      text-align: center;
    }
  
    #navbar ul {
      padding: 0.5rem;
    }
  
    #showcase .showcase-content {
      top: 78px;
    }
  
    #who {
      display: block;
    }
  
    #who .who-img {
      display: none;
    }
  
    #clients .items img {
      width: 80%;
    }
  
    #clients .items div:last-child {
      display: none;
    }
  
    #contact {
      flex-direction: column;
    }
  
    #contact .map {
      height: 200px;
      border-top: 4px solid #333;
    }
    #navbar .social {
      display: none;
    }
  }
  
  @media(max-height: 568px) {
    #showcase .showcase-content {
      margin-top: -2rem;
      top: 140px;
    }
  
    .l-heading {
      font-size: 3rem;
    }
  
    .lead {
      font-size: 1rem;
    }
    #navabar .social {
      display: none;
    }
  }

  /* Navigation */
#main-nav .social {
  display: none;
}

#main-nav .container {
  grid-template-columns: 1fr;
  grid-gap: 1.2rem;
}

#main-nav ul,
#main-nav .logo {
  justify-self: center;
}

#main-nav ul li a {
  padding: 0.50rem;
}

#home-articles .articles-container {
  grid-template-columns: repeat(2, 1fr);
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
  grid-template-columns: 1fr;
  grid-column: 1;
}

@media(max-width: 600px) {
  /* Stack Grid Items */
  #showcase .showcase-container,
  #home-articles .articles-container,
  #main-footer .footer-container {
    grid-template-columns: 1fr;
  }

  #main-footer .footer-container > *:last-child {
    grid-column: 1;
  }

  #main-footer .footer-container > *:first-child,
  #main-footer .footer-container > *:nth-child(2){
    border-bottom: #444 dotted 1px;
    padding-bottom: 1rem;
  }

  .page-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .page-container > *:first-child {
    grid-row: 1;
  }

  .l-heading {
    font-size: 2rem;
  }
}
}
