.testimonial-sct{
    height: auto;
    overflow-y: hidden;
}

.line-1{
    
        display: block;
        width: 70px;
        height: 3px;
        margin:5px auto;
        background-color:brown ;
    
}







.item-position{
    font-weight: bold;
}

.item-name{
    color: rgb(255, 153, 0);
}
.item-name:hover{
    color: rgb(255, 153, 0);
}

.content-card img{
    height: 90px;
    width: 150px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 7px 3px 21px -11px rgba(0,0,0,0.69);
    -webkit-box-shadow: 7px 3px 21px -11px rgba(0,0,0,0.69);
    -moz-box-shadow: 7px 3px 21px -11px rgba(0,0,0,0.69);
cursor: pointer;
transition-duration: 1s ;
margin-bottom: 2rem;
    display: block;
   
    text-align: center;
    margin-right:  auto;
    margin-left: auto;

    
}
.content-card img:hover{
    box-shadow: -8px 3px 21px -11px rgba(0,0,0,0.69);
    -webkit-box-shadow: -8px 3px 21px -11px rgba(0,0,0,0.69);
    -moz-box-shadow: -8px 3px 21px -11px rgba(0,0,0,0.69);
        transition-duration: 1s ;
    
}

.content-card{
    padding-top: 4rem;
    margin-bottom: 4rem;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    text-align: center;

}


.slick-prev::before{
    color: #47B2E4;
    font-size: 20px;
    
}
.slick-next::before{
    color: #47B2E4;
    font-size: 20px;
}




/* .load-more{
    background-color: #0a81a2;
    width: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    cursor: pointer;
    margin: auto;
    margin-top: 40px;

    border-radius: 10px;
}

.load-more:hover {
    background-color: #4a87dd; 
    transition-duration: 1s;
} */
@media (max-width:1200px) {
    .team-members{
        height: auto;
        margin-bottom: 30px;
        margin-top: 20px;
    
    }
    
    
}

@media (max-width:1024px) {
    .team-members{
        height: auto;
        margin-bottom: 30px;
        margin-top: 0px;
    
    }
   
    
}

