@import "./components/_shared/design-system.css";

.scroll {
  width: 50px;
}

.scroll:hover {
  background-color: var(--green-dark) !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--green-soft);
}

::-webkit-scrollbar-thumb {
  background-color: var(--green-main);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--green-dark);
}

@media (max-width: 1120px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
